<div class="sidePanel">

    <!-- bus id and kid -->
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Bus ID</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>94</td>
      </tr>
    </table>

  <!-- Time -->
<div class="currenttime">
Tuesday
</div>

  <!-- buses information -->
  <table class="table2" style="margin-top: 100px; width: 100%">
    <tr>
      <td>THGRD</td>
      <td>2:30pm</td>
    </tr>
    <tr>
      <td colspan="2">Route: </td>
    </tr>
    <tr>
      <td colspan="2">From: </td>
    </tr>
    <tr>
      <td colspan="2">To: </td>
    </tr>
  </table>

  <button type="button" class="btn btn-secondary">Calendar</button>



</div>
