<div class="sidePanel">

    <!-- bus id and kid
  <http-test></http-test>-->
  <div>
    <http-kids></http-kids>
  </div>

  <!-- Time -->
<div class="currenttime">
  <now></now>
</div>


  <!-- buses information -->
  <table class="table2" style="margin-top: 100px; width: 100%">
    <tr>
      <td>THGRD</td>
      <td>2:30pm</td>
    </tr>
    <tr>
      <td colspan="2">Route: </td>
    </tr>
    <tr>
      <td colspan="2">From: </td>
    </tr>
    <tr>
      <td colspan="2">To: </td>
    </tr>
  </table>

</div>
