<div class="sidePanel">

    <!-- bus id and kid -->
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Bus</th>
      </tr>
      <tr *ngFor="let kid of kids">
        <td>{{kid.name}}</td>
        <td>{{kid.bus}}</td>
      </tr>
    </table>

  <!-- Time -->
<div class="currenttime">
  <now></now>
</div>

  <!-- buses information -->
  <table class="table2" style="margin-top: 100px; width: 100%">
    <tr>
      <td>THGRD</td>
      <td>2:30pm</td>
    </tr>
    <tr>
      <td colspan="2">Route: </td>
    </tr>
    <tr>
      <td colspan="2">From: </td>
    </tr>
    <tr>
      <td colspan="2">To: </td>
    </tr>
  </table>

</div>
