<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand"  *ngIf="!auth.authenticated()" >Bus Tracker</a>
      <a routerLink="/side" class="navbar-brand" *ngIf="auth.authenticated()" >Bus Tracker</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">


      <ul class="nav navbar-nav navbar-right">

        <!--   <li><input type="text" id="name1" class="form-login-custom" #username placeholder="yours@example.com"> </li>
         <li> <input type="password" id="password1" class="form-login-custom" #password placeholder="your password"> </li>
          <li> <button type="submit"  style="margin-left: 15%; margin-top: 10px" class="btn btn-secondary" (click)="auth.login(username.value, password.value)">Login</button></li> -->
        <li><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</a></li>
        <li><a routerLink="/calendar" *ngIf="auth.authenticated()">Calendar</a></li>
        <li><a routerLink="/profile" *ngIf="auth.authenticated()">Profile</a></li>
        <li><a href="#" (click)="auth.logout()"  *ngIf="auth.authenticated()">Log Out</a></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="login-background" *ngIf="!auth.authenticated()">
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>


<div class="map-background" *ngIf="auth.authenticated()">
    <http-test></http-test>
  yay
    <router-outlet></router-outlet>

</div>





