<div class="login-background">

  <div class="login-container">
    <h2>Welcome</h2>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <!--     <a class="navbar-brand" href="#">Bus Tracker</a>-->
          <button style="margin-left: -35px" class="btn btn-link btn-margin" [routerLink]="['']">Bus Tracker</button>

        </div>
      </div>
    </nav>

    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
